<div class="site-author">
              <img src="<%= theme.avatar%>" alt="<%= config.author%>" class="site-author-image" itemprop="image">
              <p class="site-author-name" itemprop="name"><%= config.author%></p>
              <p class="site-description" itemprop="description"><%= config.description%></p>
            </div>