<div class="site-page-wrap">
	    <article class="post">
	        <h1 class="post-head"><%- page.title %></h1>
	        <div class="post-body">
	            <%- page.content %>
	        </div>
	    </article>
</div>